/* Start Variables */
:root{
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
/* End Variables */
/* start global rules */
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 0;
margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "open sans", sans-serif;
}
ul{
  list-style: none;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container{width: 750px;}
}
/* medium  */
@media (min-width: 992px){
  .container{ width: 970px;}
}
/* large */
@media (min-width: 1200px){
  .container{
    width: 1170px;
  }
}
/* end global rules */
/* Start Header */
header{
  position: absolute;
  width: 100%;
  z-index: 2;
  left: 0;
}
header .container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px
}
header .container::after{
  content:"";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  left: 15px;
}
header .logo img{
  height: 40px
}
header .container nav{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav ul{
  display: flex;
}
header .container nav ul a{
  display: block;
  padding: 41px 15px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  color: white;
  position: relative;
}
header nav ul li a.active,
header nav ul li a:hover{
  color: var(--main-color);
  border-bottom: solid 1px var(--main-color);
}
header nav .form{
  width: 40px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
    /*او transform: translateY(-50%);
  top: 50% */
  border-left: 1px solid white;
  margin-left: 30px;
}
/*منفعتش ف استخدمت البوردر 
header nav .form::after{
  content:"";
  position: absolute;
  width: 1px;
  height: 30px;
  color: #a2a2a2;
  top: 0;
  left: 10px;

} */
header nav .form i{
  color: white;
  font-size: 20px;
}
header nav .fa-bars {
  /* position: absolute; */
  /* right: 70px; */
  font-size: 20px;
  /* transform: translateY(-50%); */
  /* top: 50%; */
  color: white;

}
@media (min-width: 768px){
  header nav .toggle-menu{
    display:none;
  }
}
@media (max-width: 767px){
  header .container nav ul {
  display:none
  }
}
header nav .toggle-menu:hover + ul {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 100%;
  left:0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
header nav .toggle-menu:hover + ul li a{
  padding: 15px;
}
/* End Header */
/* Start landing */
.landing{
  height: 100vh;
  background-color: #1f2021;
  background-image: url(../image/owl-3184032_1280.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 30%);
}
.landing .text{
  max-width: 800px;
  min-height: 280px;
  background-color: var(--transparent-color);
  position: absolute;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  /* transform: translateY(-0%); */
  top: 50%;
  padding: 20px;
}
/* @media (max-width: 768px){
  .landing .text{
    width: 100%;
  }
} */
.landing .text h2{
  font-size: 30px;
  text-transform:capitalize;
  font-weight:500;
  color: #fff;
  margin-bottom: 32px;
  line-height: 1.4;
}
.landing .text p{
  font-size: 14px;
  line-height: 2;
  color: white;
  max-width: 550px;
}
.landing .text h2::after{
  content:"";
  position:absolute;
  width: 200px;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 150px;
  left: 125px;
}
@media (max-width: 768px){
  .landing .text h2::after{
  display: none
  }
  .landing .text{
    top: 50%;
    transform: translateY(-50%)
  }
}
.landing .to-right{
  position: absolute;
  right: 30px;
  top: 44%;
  color: #ddd;
  font-size: 25px;
  z-index: 0;
  transition: 0.3s;

}
.landing .to-right::after{
  content:"";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: var(--transparent-color);
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 50%;
  z-index: -1;
}
.landing .to-left{
  position: absolute;
  left: 30px;
  top: 44%;
  color: #ddd;
  font-size: 25px;
  z-index: 0;
  transition: 0.3s;

}
.landing .to-left::after{
  content:"";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: var(--transparent-color);
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 50%;
  z-index: -1;
}
.to-left:hover, .to-right:hover{
  opacity: 1.6;
  transform: scale(1.2)
}
.landing .bullets{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.landing .bullets li{
  background-color: transparent;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px white
}
.landing .bullets li.active{
background-color: var(--main-color);
border-color: var(--main-color);
}
/* End landing */

/* Start components */
.main-heading{
  text-align: center;
}
.main-heading h2{
  position: relative;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.main-heading h2::before{
  position: absolute;
  content:"";
  width: 120px;
  height: 2px;
  background-color: #333;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading h2::after{
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: solid 2px black;
  left: 50%;
  transform: translateX(-50%);
  bottom: -37.5px;
  ;
}
.main-heading p{
  color: #777;
  line-height: 2;
  margin: 0 auto 100px;
  max-width: 550px;
}

/* End components */

/* start services */
.services{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

}
@media (min-width: 768px){
  .services .services-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 40px;
  row-gap: 40px;
}

}
.services .serv-box{
  display: flex;
  margin-bottom: 40px;
}
.services .serv-box h3{
  color: var(--main-color);
  
}
.services .serv-box i{
  margin-right: 30px;
  font-size: 50px;
  margin-bottom: 50px;
}
@media (max-width: 768px){
  .services .serv-box {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
.services .serv-box p{
  color: #777;
  display: block;

}
/* End services */
/* Start design */
.design{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  height: 600px;
  background-image: url(../image/download\ \(1\).jpg);
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.design::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}
.design .img, .design .text{
  flex: 1;
  position: relative;
  z-index: 2;

}
.design .img {
  text-align: center;

}
.design .img img{
  top: 150px;
  position: relative;
}
.design .text{
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
}
@media (max-width: 768px){
  .design .img{
    display: none;
  } 
  .design .text {
    padding: 20px;
  }
}
.design .text h2{
  margin-bottom: 40px;
  font-weight: normal;
  text-transform: uppercase;

}
.design .text ul li{  
  padding: 15px 0;
  

}
.design .text ul li::before{
  font-family: "font awesome 5 free";
  font-weight: 900;
  content: '\f390';
  margin-right: 20px;
  /* عشان ننزل الايقون تحت شويه */
  position: relative;
  top: 3px;
}  

/* End design */

/* Start portfolio */
.portfolio{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
/* .portfolio-content {
  display: flex;
  align-items: center;
  flex-direction: column;
} */
.portfolio-content li{
  display: inline;
  position: relative;
  text-transform: capitalize;
  font-size: larger;
  
}
.portfolio-content ul{
  position: relative;
  text-align: center;
  
}
.portfolio-content li:not(:last-child){
  margin-right: 20px;
}
.portfolio-content ul li:first-child{
  color: white;
}
.portfolio-content ul li:first-child::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.portfolio .portfolio-image{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 60px;
  position: relative;
}
.portfolio .portfolio-image .box{
  overflow: hidden;
  position: relative; 
}

.portfolio .portfolio-image img{
  transition: .3s;
  max-width: 100%;
  position: relative;
  z-index: 0;
}
.portfolio .portfolio-image .box:hover img{
  transform: rotate(3deg) scale(1.1);
}
.portfolio .portfolio-image .box:hover .caption{
  bottom: 0;
}
.portfolio .portfolio-image .box .caption{
  bottom:-100%;
  position: absolute;
  width: 100%;
  background-color: white;
  color: red;
  transition: 0.4s;
  padding: 20px;
}
.portfolio .portfolio-image .box .caption h4{
  color: black;
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .portfolio-image .box .caption p{
  color: var(--main-color);
  top: 0;
}
.portfolio .portfolio-content .more{
  display: block;
  padding: 15px 20px;
  margin: 30px auto;
  width: fit-content;
  /* بدل العك اللي تحت  */
  
  /* position: relative;  */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* text-align: center; */
  /* margin-top: 30px; */
  /* width: 90px; */
  /* height: 50px; */
  background-color: var(--main-color);
  /* line-height: 50px; */
  text-decoration: none;
  color: white;
  text-transform: uppercase;

}

/* End portfolio */
/* Start video */
.video{
  position: relative;
}
.video::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 30%);
}
.video video{
  width: 100%;
}
.video .text{
  position: absolute;
  width: 100%;
  padding: 50px;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color); 
  text-align: center;
}
.video .text h2{
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p{
  margin-bottom: 30px;
  text-transform: capitalize;

}
.video .text button{
  background-color: black;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  color: white;
}
/* End video */

/* Start about */
.about {
  padding-top: var(--section-padding);
  text-align: center;
  overflow: hidden;
}
.about .container .about-img img {
  position: relative;
  bottom: -125px;
  margin-top: -125px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .about .container .about-img img {
    bottom: -75px;
    margin-top: -75px;
  }
}
/* End about */
/* Start Status */
.status{
  position: relative;
  text-align: center;
  background-image: url(../image/unnamed.png);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-size: cover;
}
.status::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6)
}
.status .container{
  position: relative; /* Makes Container Above Overlay*/
  display: flex;
  flex-wrap: wrap; /* make box respect width by wrapping the new elements in the next line*/
}
.status .container .box{
  background-color: var(--transparent-color);
  color: white;
  padding: 50px;
}
.status .container .box i {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin: 0 auto 30px;
}
.status .container .box .number {
  font-size: 50px;
  font-weight: bold;
  
}
.status .container .box p {
  font-size: 14px;
}
@media (max-width: 767px) /* max >> 767px */{
  .status .box{
    flex-basis: 100%;
  }
}
@media (min-width: 768px) /* min >> 768px */ {
  .status .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) /* if max >> 991px */ {
  .status .box {
    flex-basis: 25%;
  }
}

/* End Status */
/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
/* This Work Also//////
.our-skills .container > div {
  
}  */
/* .our-skills .container .testimonials,
.our-skills .container .skills {
  
} */
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
  
}
@media (max-width: 992px) {
  .our-skills .container .bullets li{
    margin-bottom: 40px;
  }

}

.our-skills .container h3 {
  text-align: center;
  margin: 0 auto 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.our-skills .container .testimonials > p, .container .skills > p {
  text-align: center;
  line-height: 2;
  color: #777;
  margin-bottom: 50px;
}
.our-skills .container .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom:50px;
}
@media (max-width: 767px) {
  .our-skills .container{
    justify-content: center;
  }
}
.our-skills .container .testimonials .content .text {
  border-bottom: 1px solid #ccc;
  color: #777;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .our-skills .container .testimonials .content {
    flex-direction: column;
    justify-content: center;
  }
  .our-skills .container .testimonials .content img {
    margin: 0px auto 10px;
  }
}
.our-skills .container .testimonials .content .text p {
  text-align: right;
  margin: 10px 0;
}
.our-skills .container .content img {
  width: 100px;
  margin: 0 50px 0 0;
  border-radius: 50%;
}
.our-skills .container .bullets {
  display: flex;
  justify-content: center; 
}
.our-skills .container .bullets li{
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: solid 1px #777;
}
.our-skills .container .bullets li:not(:last-of-type) {
  margin-right: 10px;
}
.our-skills .container .bullets .active {
  background-color: var(--main-color);
  border: solid 1px var(--main-color);
}
.our-skills .container .skills .content div> h4 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 15px;
}
.our-skills .container .skills .content div {
  margin-bottom: 40px;
}
.our-skills .container .content .prog-hold .prog {
  width: 100%;
  height: 30px;
  background: #dedadc;
}
.our-skills .container .content .prog-hold .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.our-skills .container .content .prog-hold span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  right: -18px;
  border-radius: 3px;
  top: -40px;
  padding: 4px;
  color: white;
}
.our-skills .container .content .prog-hold span::after {
  content: "";
  position: absolute;
  border-width: 8px;
  border-color: black transparent transparent;
  border-style: solid;
  right: -7px;
  border-radius: 3px;
  top: -15px;
}
/* End Skills */

/* Start Quote */
.quote {
  background-image: url(../image/lambo.jbg.jpg) ;
  background-size: cover;
  padding-top: calc(var(--section-padding) + 160px);
  padding-bottom: calc(var(--section-padding) + 160px);
  text-align: center;
  position: relative;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .55);
  /* background-color: rgb(0 0 0 / 55%) */
}
.quote .container {
    position: relative;
}
.quote .container q {
  font-size: 30px;
  display: block;
  margin: -70px 0 10px;
}
.container #q::before {
  content: "\f10d";
  font-weight: 900;
  font-family: "font awesome 5 free";
  color: #ccc;
}
.container #q::after {
  content: "\f10e ";
  font-weight: 900;
  font-family: "font awesome 5 free";
  color: #ccc;

}
.quote .container span q {
  color: #ccc;
  display: block;
  text-align: right;
  margin: 20px 100px 0 0;
  font-size: 15px;
}
@media (max-width: 767px) {
  .quote .container span q {
    margin: 20px 40px 0 0;

  }

}

/* End Quote */
/* start pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plan{
  background-color: #efefef;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.plan .head {
  width: 100%;
  border-bottom: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  flex-direction: column; 
  padding: 20px 0;
}
.pricing .plan h4 {
  padding-top:20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
}
.pricing .plan h2 {
  padding: 30px 0;
  font-size: 60px;
  font-weight: bold;
}
.pricing .plan h2 sup {
  font-size: 25px;
  font-weight: normal;
  position: relative;
  top: -35px;
  left: -15px;
}
.pricing .plan h2 sub {
  font-size: 25px;
  text-transform: capitalize;
}
.plan .body {
  width: 100%;
  border-bottom: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  flex-direction: column; 
}
.plan .body ul li {
  padding: 20px;
}
.plan .body ul li:not(:last-of-type) {
  border-bottom: 1px solid var(--main-color);
}
.plan .foot a{
margin: 40px auto;
display: block;
text-decoration: none;
border: 1px solid var(--main-color);
width: fit-content;
padding: 20px;
text-transform: capitalize;
}
.pricing .contact p {
  margin: 60px auto 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;

}
.pricing .contact a {
  display: block;
  width: fit-content;
  margin: 10px auto;
  color: white;
  background-color: var(--main-color);
  padding: 15px 20px;
  text-transform: capitalize;
  border-color: transparent;
  font-size: larger;
  text-decoration: none;
}
/* end pricing */
/* Start  subscribe */
.subscribe {
  background-image: url(../image/usukhbayarr-gankhuyag-m_MdXo-axyg-unsplash.jpg);
  background-size: cover;
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  width: 500px;
  max-width: 100%;
  position: relative;
}
.subscribe form i {
  left: 25px;
  position: absolute;
  top: 50%;
  color: white;
  transform: translateY(-50%);
}
.subscribe form input[type="submit"] {
  background-color: var(--main-color);
  padding: 20px 20px;
  color: white;
  text-transform: uppercase;
  border: solid 1px white;
  border-left: none;
  width: 130px;
}
.subscribe form input[type="email"] {
  background-color: transparent;
  color: #eee;
  padding: 20px 20px 20px 60px;
  text-transform: uppercase;
  border: solid 1px white;
  border-right: none;
  width: calc(100% - 130px);
  caret-color: var(--main-color);
}
.subscribe form ::placeholder{
  color: var(--main-color);
}
.subscribe .container p {
  margin-left: 60px;
  color: white;
  line-height: 2;
}
@media (max-width: 767px) {
  .subscribe .container p {
    text-align: center;
    margin: 20px 0;

  }

}
/* End  subscribe*/
/* Start contact-us*/
.contact-us {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact-us .container .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact-us .container .content {
    flex-direction: column;
    align-items: center;
  }
  .contact-us .content .info {
    order: -1;
    text-align: center;
  }

}
.contact-us .content .info {
  flex-basis: 25%;
}
.contact-us .content .info h4 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: normal;
  padding: 0px 0 40px;
}
.contact-us .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
.contact-us .content .info .address {
  line-height: 2;
  font-style: italic;
}
@media (max-width: 767px) {
  .contact-us .content .info h4:nth-of-type(2) {
    margin-top: 60px;

  }
  .contact-us .content .info{
    margin-bottom: 30px;
  }
}

.contact-us .content .info span {
  display: block;
  margin-bottom: 10px;
  color: #777;

}
.contact-us .content .inputel {
  flex-basis: 70%;
  display: block;
}
.contact-us .content .inputel .main-input {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  border: 1px solid #878787;
  margin-bottom: 30px;
}
::placeholder {
  color: #878787;
}
.contact-us .content .inputel textarea.main-input {
  height: 200px;
}
.contact-us .content input[type="submit"] {
  background-color: var(--main-color);
  padding: 20px;
  display: flex;
  margin-left: auto;
  cursor: pointer;
  border: none;
  color: white;
  text-transform: uppercase;

}

/* End contact-us */
/* Start footer */
.footer{
  background-image: url(../image/usukhbayarr-gankhuyag-m_MdXo-axyg-unsplash.jpg);
  background-size: cover;
  height: 300px;
  text-align: right;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.kasper img {
  width: 150px;  
}
.footer .content {
  text-align: center;
}
.footer .content #p1 {
  color: #ddd;
  text-transform: uppercase;
  font-size: 20px;
  font-style: italic;
  position: relative;
}
.footer .content #p1::after {
  position: absolute;
  content: '';
  width: 110%;
  height: 1px;
  background-color: #ddd;
  top: 100%;
  margin-top: 20px;
  right: 50%;
  transform: translateX(50%);
}
.footer .content .icons {
  display: flex;
  color: white

}
.footer .content .icons i {
  padding: 10px;
  margin-top: 30px;
  font-size: 20px;
}
.footer .copyright {
  color: white;
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;

}
.footer .copyright span {
  color: var(--main-color);
}


/* End footer */

